*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    
    
}
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
    transition: 3s;
    -moz-transition: 3s;
    -webkit-transition: 3s;
    -o-transition: 3s;
}
.logo:hover{

    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
main{
    display: flex;
    justify-content: space-between;

}
.seccion-ingreso-texto{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;    
}
.ingrese-texto{
    display: block;
    width: 70%;
    height: 334px;
    border: none;
    color:#0A3871;
    margin-top: 50px;
    margin: auto;
    resize: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 200;
    font-size: 32px;
    line-height: 120%;

}
::placeholder{
    color:#0A3871;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

}
.ingrese-texto:focus{
    outline: none;
}
.botones{
    margin-top: 18px;
} 

.leyenda{
    font-size: 12px;
    color: #495057;
    transition: 0.5s;   
}

.leyenda:hover{

    font-weight: bolder;
    color: #2b323a;  

}

.botton-encript{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}
.botton-encript:hover{
    background: #497ab6;

}
.botton-desencrip{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}
.botton-desencrip:hover{
    background: #8a9bb0;
}

.seccion-resultado{
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    width: 25%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    line-height: 50%;
   
   
}   
.contendor-img1pg{
    background: #FFFFFF;
    margin-bottom: 450px;
    box-sizing: border-box;
    overflow: hidden;

}


.imgmunieco{
    background: #FFFFFF;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;   
    overflow: hidden;
}
.imgnotxt{
    background: #FFFFFF;
    width: 100%;  
    margin-top: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.ocultar{
 display: none;
}
.resultado{
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: #495057;
    font-size: 16px;
    border-radius: 32px;
    background: white;
    overflow: hidden;
    
    
}
h4{
    background: white;
}
.mns-resultado{
    background: white;
    width: 100%;
    height: 334px;
    border: none;
    resize: none;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
    line-height: 120%;

}
.mns-resultado:focus{
    outline: none;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    height: 67px;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
    transition: 1s;
     
}
.copiar:hover{
    background: #497ab6;

}

footer{
    margin-top: 25px;
    display: block;
    text-align: center;
   
}
.designed{
    color: #495057;
    font-size: 16px;
    font-weight: bolder;
}
.red{
    margin-top: 15px;
    margin-bottom: 15px;
}
.red, .redes a{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

p{
    color: #495057;
    font-size: 12px;
}

@media screen and (max-width:480px){

    main{
        display: block;
        justify-content: space-between;
    }
    .seccion-ingreso-texto{
        text-align: center;
        width: 70%;
        display: initial;
    }
    .botton-desencrip{
        margin-top: 5px;
     
    }
    .seccion-resultado{
        margin-top: 25px;
        width: 70%;
    }

}

@media screen and (max-width: 910px){
    .seccion-ingreso-texto{
        text-align: center;
        width: 70%;
        display: initial;
        
    }
    .botton-desencrip{
        margin-top: 5px;
     
    }
    .seccion-resultado{
        margin-top: 25px;
        width: 80%;
        height: 500px;
        padding: inherit;
    }
    .contendor-img1pg{
        margin-top: 20%;
        height: inherit;
    }
    .resultado{
        height: 100%;

    }


}
